@import "tailwindcss";

.logo {
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
}

.hero {
  font-family: "League Spartan", sans-serif;
  font-weight: 900;
  letter-spacing: 0.2rem;
  word-spacing: 0.5rem;
  line-height: 1;
  transform: scaleX(1.1);
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;    /* Firefox */
}